.bar-chart-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-title {
  text-align: center;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
}

canvas {
  display: block;
  max-width: 100%;
  height: auto;
}

.chart-border {
  border: 2px solid #4bc0c0;
  border-radius: 10px;
}
/* ------------------------ */

.pie-chart-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* ------------------ */

.chart-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 20px; /* Adjust margin as needed */
}

.chart-item {
  width: 45%; /* Adjust width of each chart item */
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.bar-chart {
  width: 100%;
  height: auto;
}
