canvas {
  border: 5px solid black; /* Add a white border around the canvas */
  background-color: white; /* Set the background color of the canvas */
}

div {
  text-align: center;
}

div > div {
  margin-bottom: 10px;
}
.container-cont {
  background-color: #ffbf00;
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto; /* Center the container */
}
h3 {
  margin-top: 20px;
}
label {
  color: #ffffff;
  font-weight: bold;
  display: block;
  margin-top: 10px;
}
input[type="datetime-local"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="text"] {
  width: 100%;
}
button {
  background-color: transparent;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: grey;
}

.errorMessageClass{
  color: red;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  width: 500px;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-height: 200px; /* Set the maximum height for the table body */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Styling for table headers */
th {
  background-color: #ffbf00;
  color: #fff;
  font-weight: bold;
  padding: 12px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Styling for table data */
td {
  padding: 8px;
  background-color: #f2f2f2;
}
