.profile-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.profile-container h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-container img {
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-info {
  font-size: 16px;
  margin-bottom: 10px;
}

.profile-info span {
  font-weight: bold;
  margin-right: 5px;
}

.register-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.btn-register {
  width: 100%;
  padding: 10px;
  background-color: #ffc800;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-register:hover {
  background-color: #b39800;
}
.errorMessageClass{
  color: red;
}
